<%- include('./includes/head.ejs') %>
<body>

   
<div class="center">
    <h1 class="animate__animated animate__bounce " style="font-size: 4.5rem;
    font-weight: 1000;">URL Shortener!</h1>
   
    <div >    
        <form action="/url-generate" method="post">
        <div class="form-group ">
          <input type="url" class="form-control" id="url" aria-describedby="url" name="url" placeholder="Enter Your Website URL">
        </div>
        <span>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="submit" class="btn btn-danger">Reset</button>
    </span>
      </form>
</div>


   
   
<%- include('./includes/end.ejs') %>